<h2><%= @question.test.title %></h2>

<p><%= @question.body %></p>

<h3>Answers:</h3>

<p><%= link_to 'New Answer', new_question_answer_path(@question) %></p>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Back', test_path(@question.test) %>