<p> <strong>Question:</strong> <%= @answer.question.body %>  | <%= link_to 'Edit', edit_admin_question_path(@answer.question) %> </p>

<p>
  <b>Answer:</b>
  <%= @answer.body %> |
  <%= link_to 'Edit', edit_admin_answer_path %> </p>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question) %>