<p> <strong><%= I18n.t('admin.labels.test') %>:</strong> <%= @question.test.title %></p>
<p> <strong><%= I18n.t('admin.labels.question') %>:</strong> <%= @question.body %> | 
<%= link_to I18n.t('admin.actions.edit'), edit_admin_question_path %> </p>

<h3><%= t('.answers')%></h3>

<p><%= link_to I18n.t('admin.actions.new', model: human_name(Answer)), new_admin_question_answer_path(@question) %></p>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to I18n.t('admin.actions.back'), admin_test_path(@question.test) %>