<div class="row justify-content-center mt-3">
  <div class="col col-md-8">


    <div class="mb-3 card border-primary text-center mx-auto col-md-6">
      <div class="card-body">
        <p class="m-0 align-self-center"> <b><%= t('admin.labels.test') %>:</b> <%= @question.test.title %></p>
        <p class="m-0 align-self-center"> <b><%= t('admin.labels.question') %>:</b> <%= @question.body %></p>
      </div>
    </div>


    <div class="d-flex gap-2 text-center">
      <h3 class="mb-1"><%= t('.answers')%></h3>

      <p class="m-0 align-self-center"><%= link_to t('links.new', model: human_name(Answer)),
                                                      new_admin_question_answer_path(@question),
                                                      class: 'btn btn-outline-primary btn-sm' %></p>
    </div>

    <table class="table table-light table-hover table-bordered mt-2">
      <tr>
        <th class="text-center"><%= t('.title') %></th>
        <th class="text-center"><%= t('.correct') %></th>
        <th class="text-center" colspan="3"><%= t('.actions') %></th>
      </tr>
      <%= render @question.answers %>
    </table>
    <%= link_to t('links.back'), admin_test_path(@question.test) %>
  </div>
</div>
