<p> <strong>Test:</strong> <%= @test.title %> | <%= link_to 'Edit', edit_admin_test_path(@test) %> </p>
<p> <strong>Level:</strong> <%= test_level(@test) %> </p>
<p> <strong>Author:</strong> <%= @test.author.name %> </p>

<h3>Questions: </h3> 

<p><%= link_to 'New question', new_admin_test_question_path(@test) %></p>

<ol>
  <%= render 'test_questions' %>
</ol>

<%= link_to 'Back', admin_tests_path %>