<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/navbar' %>
    <%= render 'shared/flash' %>
    <div class="container d-flex flex-column justify-content-between bd-highlight mb-3">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>